* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family:Arial, Helvetica, sans-serif;
}

header {
  display:flex; 
  justify-content:center;
  width: 100%;
  height: 13vh;
  background-color: rgb(241, 241, 241);
}
header img {
  width: 600px;
}

section {
  background-image: url('snake_f.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 82vh;
  width: 100%;
}

section canvas {
  position: absolute;
  left: 35.3%;
  top:15%;
  border: 2px solid black;
}

section button {
  position: absolute;
  padding:2.2dvh;
  left: 55%;
  top: 3.5%;
  border: 2px solid black;
}

section div{
  position: absolute;
  padding: 2vh;
  left: 35.3%;
  top: 3.5%;
  background-color: white;
  border: 2px solid black;
}

 p{
  position: relative;
  padding: 1vh;
  left: 36.8%;
  width: 425px;
  background-color: white;
  border: none;
  color:black;
}

section::after {
 content: "";
 display: table;
 clear: both;
}